<!DOCTYPE html>
<html>

<head>
    <title>Tinook</title>
    <link rel="icon" type="imagem/png" href="tinook.png" />
    <link rel="stylesheet" type="text/css" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-4.3.1-dist/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="fontawesome-free-5.8.2-web/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter:700&display=swap" rel="stylesheet">
</head>

<body class="mb-3">
    <nav class="navbar navbar-dark nav-custom p-2">
        <p class="m-0">TINOOK</p>
        <div class="d-flex flex-row-reverse bd-highlight">
            <button type="button" class="btn mr-1 menu-btn">Estante</button>
            <button type="button" class="btn mr-1 menu-btn">Filtro</button>
            <a href="index.html"><button type="button" class="btn mr-1 menu-btn">Perfil</button></a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card mt-5 book-card" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="tinook.png" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body book-info">
                                <i class="fas fa-edit edit-icon"></i>
                                <i class="fas fa-trash-alt delete-icon"></i>
                                <h5 class="card-title">Harry Potter</h5>
                                <p class="card-text">A Ordem da Fênix</p>
                                <p class="card-text">Fantasia, Aventura</p>
                                <p class="card-text">Ótima condição</p>
                                <p class="card-text">Inglês</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mt-5 book-card" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="tinook.png" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body book-info">
                                <i class="fas fa-edit edit-icon"></i>
                                <i class="fas fa-trash-alt delete-icon"></i>
                                <h5 class="card-title">Harry Potter</h5>
                                <p class="card-text">A Ordem da Fênix</p>
                                <p class="card-text">Fantasia, Aventura</p>
                                <p class="card-text">Ótima condição</p>
                                <p class="card-text">Inglês</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mt-3 book-card" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="tinook.png" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body book-info">
                                <i class="fas fa-edit edit-icon"></i>
                                <i class="fas fa-trash-alt delete-icon"></i>
                                <h5 class="card-title">Harry Potter</h5>
                                <p class="card-text">A Ordem da Fênix</p>
                                <p class="card-text">Fantasia, Aventura</p>
                                <p class="card-text">Ótima condição</p>
                                <p class="card-text">Inglês</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mt-3 book-card" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-12">
                            <i class="fas fa-plus plus-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>