<!DOCTYPE html>
<html>

<head>
    <title>Tinook</title>
    <link rel="icon" type="imagem/png" href="tinook.png" />
    <link rel="stylesheet" type="text/css" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-4.3.1-dist/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="fontawesome-free-5.8.2-web/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/rangeInput.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter:700&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark nav-custom p-2">
        <p class="m-0">TINOOK</p>
        <div class="d-flex flex-row-reverse bd-highlight">
            <button type="button" class="btn mr-1 menu-btn">Estante</button>
            <button type="button" class="btn mr-1 menu-btn">Filtro</button>
            <a href="index.html"><button type="button" class="btn mr-1 menu-btn">Perfil</button></a>
        </div>
    </nav>
    <div class='container mt-5'>
        <div class="row mb-5">
            <div class="col">
                Distância:
            </div>
            <div class="col">
                1
                <input type="range" value="50" min="0" max="100">
                100
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                Gênero:
            </div>
            <div class="col">
                <select>
                    <option>Select Country</option>
                    <option>Usa</option>
                    <option>Canada</option>
                    <option>Mexico</option>
                </select>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                Autor:
            </div>
            <div class="col">
                <select>
                    <option>Select Country</option>
                    <option>Usa</option>
                    <option>Canada</option>
                    <option>Mexico</option>
                </select>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                Language:
            </div>
            <div class="col">
                <select>
                    <option>Select Country</option>
                    <option>Usa</option>
                    <option>Canada</option>
                    <option>Mexico</option>
                </select>
            </div>
        </div>
    </div>
    <!--
        <div class="icone">
            <p>T</p>
        </div>
-->
</body>

</html>