<!DOCTYPE html>
<html>

<head>
    <title>Tinook</title>
    <link rel="icon" type="imagem/png" href="tinook.png" />
    <link rel="stylesheet" type="text/css" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-4.3.1-dist/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="fontawesome-free-5.8.2-web/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter:700&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark nav-custom p-2">
        <p class="m-0">TINOOK</p>
        <div class="d-flex flex-row-reverse bd-highlight">
            <button type="button" class="btn mr-1 menu-btn">Estante</button>
            <button type="button" class="btn mr-1 menu-btn">Filtro</button>
            <a href="index.html"><button type="button" class="btn mr-1 menu-btn">Perfil</button></a>
        </div>
    </nav>
    <!-- <div class="container"> -->
        <div class="row">
            <div class="col-xs p-5">
                <img src="tinook.png" alt="..." class="img-thumbnail main-img">
                <div class="row">
                    <div class="col-sm">
                        <img src="tinook.png" alt="..." class="img-thumbnail">
                    </div>
                    <div class="col-sm">
                        <img src="tinook.png" alt="..." class="img-thumbnail">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <img src="tinook.png" alt="..." class="img-thumbnail">
                    </div>
                    <div class="col-sm">
                        <img src="tinook.png" alt="..." class="img-thumbnail">
                    </div>
                </div>
            </div>
            <div class="col p-5 info-book-section">
                <div class="row">
                    <div class="col-sm">
                        <label for="basic-url">I.S.B.N</label>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                    <div class="col-sm">
                        <label for="basic-url">Idioma</label>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <label for="basic-url">Título</label>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                    <div class="col-sm">
                        <label for="basic-url">Condição</label>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <label for="basic-url">Número da edição</label>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                    <div class="col-sm">
                        <label for="basic-url">Gênero</label>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <label for="basic-url">Número de páginas</label>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                    <div class="col-sm">
                        <label for="basic-url">Autor</label>
                        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
</body>

</html>