<!DOCTYPE html>
<html>

<head>
    <title>Tinook</title>
    <link rel="icon" type="imagem/png" href="tinook.png" />
    <link rel="stylesheet" type="text/css" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap-4.3.1-dist/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="fontawesome-free-5.8.2-web/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter:700&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-dark nav-custom p-2">
        <p class="m-0">TINOOK</p>
        <div class="d-flex flex-row-reverse bd-highlight">
            <button type="button" class="btn mr-1 menu-btn">Estante</button>
            <button type="button" class="btn mr-1 menu-btn">Filtro</button>
            <a href="index.html"><button type="button" class="btn mr-1 menu-btn">Perfil</button></a>
        </div>
    </nav>
    <div class="container">
        <div class="card mt-5 book" style="width: 18rem;">
            <img src="tinook.png" class="card-img-top" alt="...">
            <ul class="list-group list-group-flush">
                <li class="list-group-item book-title">Harry Potter</li>
                <li class="list-group-item">A ordem da Fênix</li>
                <li class="list-group-item">5 km</li>
                <li class="list-group-item">Condição: Boa</li>
            </ul>
        </div>
        <div class="row">
            <button type="button" class="btn btn-outline-success col m-3">Sim</button>
            <button type="button" class="btn btn-outline-danger col m-3">Não</button>  
            <button type="button" class="btn btn-outline-primary col m-3">Já li</button>      
        </div>
    </div>
</body>

</html>